In [1]:
import pandas as pd


movies=pd.read_csv('C:\\Users\\Sarveswara Rao K\\Documents\\Dlithe\\IMDB-Dataset\\movies.csv')
ratings=pd.read_csv('C:\\Users\\Sarveswara Rao K\\Documents\\Dlithe\\IMDB-Dataset\\ratings.csv')
movies.drop('genres',axis=1,inplace=True)

In [2]:
movies['title']=movies['title'].str.replace(r"\(.*?\)","")#to remove year ex:(2014)
movies['title']=movies['title'].str.replace("'","")#to remove single quotes example '71 
movies['title']=movies['title'].str.replace(', The','')# removs The at the end example:Shawshank Redemption, The
movies['title']=movies['title'].str.strip()#to remove wide spaces at the end

In [3]:
dataset = pd.merge(ratings,movies,on='movieId')
dataset_based_on_ratings = pd.DataFrame(dataset.groupby('title')['rating'].mean())
dataset_based_on_ratings['number of ratings']=pd.DataFrame(dataset.groupby('title')['rating'].count())
dataset_based_on_ratings

                              rating  number of ratings
title
*batteries not included     3.318182                 11
...And Justice for All      3.650000                 10
10                          2.000000                  3
10 Items or Less            3.833333                  3
10 Things I Hate About You  3.491525                 59
...                              ...                ...
night Mother                3.000000                  1
xXx                         2.958333                 24
xXx: State of the Union     2.071429                  7
¡Three Amigos!              3.012500                 40
À nous la liberté           3.000000                  1

[9889 rows x 2 columns]

In [4]:
movie_matrix = dataset.pivot_table(index='userId',columns='title',values='rating')
movie_matrix

title,*batteries not included,...And Justice for All,10,10 Items or Less,10 Things I Hate About You,10 to Midnight,"10,000 BC",100 Girls,101 Dalmatians,101 Reykjavik,...,[REC]³ 3 Génesis,a/k/a Tommy Chong,burbs,eXistenZ,loudQUIETloud: A Film About the Pixies,night Mother,xXx,xXx: State of the Union,¡Three Amigos!,À nous la liberté
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,3.0,2.5,3.0,2.0,NaN,NaN,NaN,2.0,NaN,...,0.5,NaN,NaN,2.0,NaN,NaN,3.5,NaN,2.0,3.0

In [17]:
x=input("Enter a movie Name ").split()
temp=""
for i in x:
   temp=temp+i.capitalize()+" "
x=temp
movie_watched = movie_matrix[x.strip()]
print("loading.....")
li = []
for i in range(len(movie_matrix.columns)):
    li.append(movie_watched.corr(movie_matrix.iloc[:,i]))
li = pd.Series(li)
df = pd.DataFrame({"title": movie_matrix.columns,"Correlation": li,"number of ratings" : dataset_based_on_ratings["number of ratings"].values})
df[df["number of ratings"] >= 100].sort_values(by=["Correlation","number of ratings"],ascending=False).iloc[1:21,:]

Enter a movie Name toy story
loading.....

D:\conda\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
D:\conda\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

,title,Correlation,number of ratings
8985,Toy Story 2,0.709677,104
646,Austin Powers: The Spy Who Shagged Me,0.580651,117
2076,Crimson Tide,0.578642,107
645,Austin Powers: International Man of Mystery,0.533061,101
1445,"Bugs Life, A",0.506905,102
7751,Shakespeare in Love,0.498968,106
9595,Who Framed Roger Rabbit?,0.498878,115
680,Babe,0.489270,135
5958,Mrs. Doubtfire,0.477007,166
4401,Incredibles,0.472330,102
5786,Minority Report,0.470739,108
292,Aladdin,0.451327,191
890,Beetlejuice,0.448736,107
6906,Pretty Woman,0.448213,148
6936,Princess Bride,0.440361,171
4410,Indiana Jones and the Temple of Doom,0.439664,109
3115,"Fish Called Wanda, A",0.438148,102
5975,Mummy,0.438038,102
3562,GoldenEye,0.427698,135
1325,Breakfast Club,0.417945,118